---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>&q=codemontage+in%3Aname+fork%3Aonly+++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-31&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1422038700'
      x-github-media-type:
      - github.v3; format=json
      link:
      - <https://api.github.com/search/repositories?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>&q=codemontage+in%3Aname+fork%3Aonly+++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-31&per_page=100&page=0>;
        rel="last"
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Fri, 23 Jan 2015 18:44:00 GMT
recorded_with: VCR 2.9.3
