---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>&q=repo%3ACodeMontageHQ%2Fcodemontage%2Fcodemontage+type%3Aissue++++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-31&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1422038580'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":3,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/266","labels_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/266/labels{/name}","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/266/comments","events_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/266/events","html_url":"https://github.com/CodeMontageHQ/codemontage/issues/266","id":47350485,"number":266,"title":"Change
        ''Devs For Good Meetup'' link label to ''NYC Meetup''","user":{"login":"DBNess","id":226228,"avatar_url":"https://avatars.githubusercontent.com/u/226228?v=3","gravatar_id":"","url":"https://api.github.com/users/DBNess","html_url":"https://github.com/DBNess","followers_url":"https://api.github.com/users/DBNess/followers","following_url":"https://api.github.com/users/DBNess/following{/other_user}","gists_url":"https://api.github.com/users/DBNess/gists{/gist_id}","starred_url":"https://api.github.com/users/DBNess/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DBNess/subscriptions","organizations_url":"https://api.github.com/users/DBNess/orgs","repos_url":"https://api.github.com/users/DBNess/repos","events_url":"https://api.github.com/users/DBNess/events{/privacy}","received_events_url":"https://api.github.com/users/DBNess/received_events","type":"User","site_admin":false},"labels":[{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/labels/frontend","name":"frontend","color":"fad8c7"},{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/labels/high%20priority","name":"high
        priority","color":"fbca04"}],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2014-10-31T01:00:06Z","updated_at":"2014-11-05T14:34:11Z","closed_at":"2014-11-05T14:34:11Z","body":"####
        Update this:\r\n\r\n![codemontage](https://cloud.githubusercontent.com/assets/226228/4854764/b53bc592-6098-11e4-9982-20dbbaa7bf62.png)\r\n\r\n####
        because we''ve merged Developers for Good into the CodeMontage community:\r\n\r\n![codemontage_blog__five_years___developers_for_good____codemontage___open_source_](https://cloud.githubusercontent.com/assets/226228/4854786/176c798c-6099-11e4-8120-7e0ae14ea842.png)\r\n![coders_for_good__formerly_developers_for_good___new_york__ny__-_meetup](https://cloud.githubusercontent.com/assets/226228/4854787/18d9f470-6099-11e4-8c1b-effa0ea14596.png)\r\n","score":1.0},{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/263","labels_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/263/labels{/name}","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/263/comments","events_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/263/events","html_url":"https://github.com/CodeMontageHQ/codemontage/issues/263","id":47066536,"number":263,"title":"GitHub
        signup redirects to login[...]
