---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?q=author%3Acourte+type%3Apr+created%3A2015-01-07..2015-01-08&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '10'
      x-ratelimit-remaining:
      - '9'
      x-ratelimit-reset:
      - '1421119816'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":3,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/295","labels_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/295/labels{/name}","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/295/comments","events_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/295/events","html_url":"https://github.com/CodeMontageHQ/codemontage/pull/295","id":53720469,"number":295,"title":"Backend
        transition from EventRegistration to CheckIn models (db, model, admin layers)","user":{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}","starred_url":"https://api.github.com/users/courte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courte/subscriptions","organizations_url":"https://api.github.com/users/courte/orgs","repos_url":"https://api.github.com/users/courte/repos","events_url":"https://api.github.com/users/courte/events{/privacy}","received_events_url":"https://api.github.com/users/courte/received_events","type":"User","site_admin":false},"labels":[{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/labels/code-review-wanted","name":"code-review-wanted","color":"bfe5bf"},{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/labels/database","name":"database","color":"bfd4f2"},{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/labels/deploy+with+care","name":"deploy
        with care","color":"eb6420"}],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2015-01-08T06:50:57Z","updated_at":"2015-01-09T06:12:43Z","closed_at":null,"pull_request":{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/pulls/295","html_url":"https://github.com/CodeMontageHQ/codemontage/pull/295","diff_url":"https://github.com/CodeMontageHQ/codemontage/pull/295.diff","patch_url":"https://github.com/CodeMontageHQ/codemontage/pull/295.patch"},"body":"Everything
        that was once an event registration is now a check in. This primarily impacts
        the database and model layers.\r\n\r\n*Check ins on the admin dash*\r\n![screenshot
        2015-01-08 01 42 49](https://cloud.githubusercontent.com/assets/2766324/5658920/b05c10d4-96d7-11e4-8a80-4d7c07c85612.png)\r\n","score":1.0},{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/294","labels_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/294/labels{/name}","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/294/comments","events_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/294/events","html_url":"https://github.com/CodeMontageHQ/codemontage/pull/294","id":53712632,"number":294,"title":"Projects
        index refactor (to use a [...]
- request:
    method: get
    uri: https://api.github.com/repos/CodeMontageHQ/codemontage/pulls/295/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '59'
      x-ratelimit-reset:
      - '1421123357'
      last-modified:
      - Mon, 12 Jan 2015 20:28:54 GMT
      etag:
      - W/"45c47da68e6446170002f4807982ccb5"
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"sha":"8b66eaf2a4d126c95872d4d70c1f27f0863a0949","commit":{"author":{"name":"Courteney
        Ervin","email":"courteney.ervin@gmail.com","date":"2015-01-08T06:21:20Z"},"committer":{"name":"Courteney
        Ervin","email":"courteney.ervin@gmail.com","date":"2015-01-08T06:21:20Z"},"message":"Rename
        event_registrations table to check_ins (db level)","tree":{"sha":"97d75aa0aaa2a819ce4f0ee109485405bb20110e","url":"https://api.github.com/repos/CodeMontageHQ/codemontage/git/trees/97d75aa0aaa2a819ce4f0ee109485405bb20110e"},"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/git/commits/8b66eaf2a4d126c95872d4d70c1f27f0863a0949","comment_count":0},"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/commits/8b66eaf2a4d126c95872d4d70c1f27f0863a0949","html_url":"https://github.com/CodeMontageHQ/codemontage/commit/8b66eaf2a4d126c95872d4d70c1f27f0863a0949","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/commits/8b66eaf2a4d126c95872d4d70c1f27f0863a0949/comments","author":{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github[...]
[...]
