---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/2766324
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '45'
      x-ratelimit-reset:
      - '1421252367'
      last-modified:
      - Tue, 13 Jan 2015 04:55:24 GMT
      etag:
      - W/"08904ebb34db674200f19a3a1e6be5f7"
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}","starred_url":"https://api.github.com/users/courte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courte/subscriptions","organizations_url":"https://api.github.com/users/courte/orgs","repos_url":"https://api.github.com/users/courte/repos","events_url":"https://api.github.com/users/courte/events{/privacy}","received_events_url":"https://api.github.com/users/courte/received_events","type":"User","site_admin":false,"name":"Courteney","company":null,"blog":null,"location":null,"email":null,"hireable":false,"bio":null,"public_repos":16,"public_gists":2,"followers":17,"following":11,"created_at":"2012-11-10T14:07:09Z","updated_at":"2015-01-13T04:55:24Z"}'
  recorded_at: Wed, 14 Jan 2015 15:46:50 GMT
recorded_with: VCR 2.9.3
