---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>&q=author%3Acourte+type%3Apr++++++++++++++++++++++++++++++++++++++created%3A2015-01-08..2015-01-09&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '22'
      x-ratelimit-reset:
      - '1421788725'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":7,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/300","labels_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/300/labels{/name}","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/300/comments","events_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/300/events","html_url":"https://github.com/CodeMontageHQ/codemontage/pull/300","id":53918545,"number":300,"title":"Add
        hound.yml configuration file","user":{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}","starred_url":"https://api.github.com/users/courte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courte/subscriptions","organizations_url":"https://api.github.com/users/courte/orgs","repos_url":"https://api.github.com/users/courte/repos","events_url":"https://api.github.com/users/courte/events{/privacy}","received_events_url":"https://api.github.com/users/courte/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":2,"created_at":"2015-01-09T21:43:39Z","updated_at":"2015-01-12T20:04:40Z","closed_at":"2015-01-12T20:04:40Z","pull_request":{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/pulls/300","html_url":"https://github.com/CodeMontageHQ/codemontage/pull/300","diff_url":"https://github.com/CodeMontageHQ/codemontage/pull/300.diff","patch_url":"https://github.com/CodeMontageHQ/codemontage/pull/300.patch"},"body":"Responds
        to #290, though I can''t test it at all, what with hound already commenting
        on all of my PRs regardless...","score":1.0},{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/299","labels_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/299/labels{/name}","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/299/comments","events_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/299/events","html_url":"https://github.com/CodeMontageHQ/codemontage/pull/299","id":53881421,"number":299,"title":"Add
        featured projects to events sh[...]
