---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/2766324?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4980'
      x-ratelimit-reset:
      - '1422058368'
      last-modified:
      - Fri, 23 Jan 2015 23:17:29 GMT
      etag:
      - W/"2f15a3149ae32816c83b04690cd7bfae"
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}","starred_url":"https://api.github.com/users/courte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courte/subscriptions","organizations_url":"https://api.github.com/users/courte/orgs","repos_url":"https://api.github.com/users/courte/repos","events_url":"https://api.github.com/users/courte/events{/privacy}","received_events_url":"https://api.github.com/users/courte/received_events","type":"User","site_admin":false,"name":"Courteney","company":null,"blog":null,"location":null,"email":null,"hireable":false,"bio":null,"public_repos":16,"public_gists":2,"followers":18,"following":11,"created_at":"2012-11-10T14:07:09Z","updated_at":"2015-01-23T23:17:29Z"}'
  recorded_at: Fri, 23 Jan 2015 23:54:31 GMT
[...]
