---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?q=author%3Acourte+type%3Aissue++++++++++++++++++++++++++++++++++++++created%3A2015-01-11..2015-01-12&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '10'
      x-ratelimit-remaining:
      - '2'
      x-ratelimit-reset:
      - '1421170092'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":2,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/304","labels_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/304/labels{/name}","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/304/comments","events_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/304/events","html_url":"https://github.com/CodeMontageHQ/codemontage/issues/304","id":54102518,"number":304,"title":"Add
        account change options for GitHub-linked users","user":{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}","starred_url":"https://api.github.com/users/courte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courte/subscriptions","organizations_url":"https://api.github.com/users/courte/orgs","repos_url":"https://api.github.com/users/courte/repos","events_url":"https://api.github.com/users/courte/events{/privacy}","received_events_url":"https://api.github.com/users/courte/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2015-01-12T20:28:54Z","updated_at":"2015-01-12T20:28:54Z","closed_at":null,"body":"Based
        on issue #148 and dependent on issue #303:\r\n\r\nAllow users who create a
        CodeMontage account with their GitHub account to set passwords. This could
        be as simple as sending new users who create a GH-based account an email to
        \"set a password\", should they wish to do so.","score":1.0},{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/303","labels_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/303/labels{/name}","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/303/comments","events_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/303/events","html_url":"https://github.com/CodeMontageHQ/codemontage/issues/303","id":54101775,"number":303,"title":"Forgotten
        passwords can''t be re[...]
