---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=user%3Acourte+fork%3Aonly+++++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-31&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '10'
      x-ratelimit-remaining:
      - '5'
      x-ratelimit-reset:
      - '1421170092'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":2,"incomplete_results":false,"items":[{"id":25838024,"name":"Ospreydit","full_name":"courte/Ospreydit","owner":{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}","starred_url":"https://api.github.com/users/courte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courte/subscriptions","organizations_url":"https://api.github.com/users/courte/orgs","repos_url":"https://api.github.com/users/courte/repos","events_url":"https://api.github.com/users/courte/events{/privacy}","received_events_url":"https://api.github.com/users/courte/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/courte/Ospreydit","description":"Reddit
        clone for the Ospreys","fork":true,"url":"https://api.github.com/repos/courte/Ospreydit","forks_url":"https://api.github.com/repos/courte/Ospreydit/forks","keys_url":"https://api.github.com/repos/courte/Ospreydit/keys{/key_id}","collaborators_url":"https://api.github.com/repos/courte/Ospreydit/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/courte/Ospreydit/teams","hooks_url":"https://api.github.com/repos/courte/Ospreydit/hooks","issue_events_url":"https://api.github.com/repos/courte/Ospreydit/issues/events{/number}","events_url":"https://api.github.com/repos/courte/Ospreydit/events","assignees_url":"https://api.github.com/repos/courte/Ospreydit/assignees{/user}","branches_url":"https://api.github.com/repos/courte/Ospreydit/branches{/branch}","tags_url":"https://api.github.com/repos/courte/Ospreydit/tags","blobs_url":"https://api.github.com/repos/courte/Ospreydit/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/courte/Ospreydit/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/courte/Ospreydit/git/refs{/sha}","trees_url":"https://api.github.com/repos/courte/Ospreydit/git/trees{/sha}","statuses_url":"https://api.github.com/repos/courte/Ospreydit/statuses/{sha}","languages_url":"https://api.github.com/repos/courte/Ospreydit/languages","stargazers_url":"https://api.github.com/repos/courte/Ospreydit/stargazers","contributors_url":"https://api.github.com/repos/courte/Ospreydit/contributors","subscribers_url":"https://api.github.com/repos/courte/Ospreydit/subscribers","subscription_url":"https://api.github.com/repos/courte/Ospreydit/subscription","commits_url":"https://api.github.com/repos/courte/Ospreydit/commits{/sha}","git_commits_url":"https://api.github.com/repos/courte/Ospreydit/git/commits{/sha}","comments_url":"https://api.github.com/repos/courte/Ospreydit/comments{/number}","issue_comment_url":"https://api.github.com/repos/courte/Ospreydit/issues/comments/{number}","contents_url":"https://api.github.com/repos/courte/Ospreydit/contents/{+path}","compare_url":"https://api.github.com/repos/courte/Ospreydit/compare/{base}...{head}","merges_url":"https://api.github.com/repos/courte/Ospreydit/merges","archive_url":"https://api.github.com/repos/courte/Ospreydit/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/courte/Ospreydit/downloads","issues_url":"https://api.github.com/repos/courte/Ospreydit/issues{/number}","pulls_url":"https://api.github.com/repos/courte/Ospreydit/pulls{/number}","milestones_url":"https://api.github.com/repos/courte/Ospreydit/milestones{/number}","notifications_url":"https://api.github.com/repos/courte/Ospreydit/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/courte/Ospreydit/labels{/name}","releases_url":"https://api.github.com/repos/courte/Ospreydit/releases{/id}","created_at":"2014-10-27T20:36:49Z","updated_at":"2014-10-27T19:41:32Z","pushed_at":"2014-10-27T19:41:32Z","git_url":"git://github.com/courte/Ospreydit.git","ssh_url":"git@github.com:courte/Ospreydit.git","clone_url":"https://github.com/courte/Ospreydit.git","svn_url":"https://github.com/courte/Ospreydit","homepage":null,"size":72,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","score":1.0},{"id":24691649,"name":"curriculum","full_name":"courte/curriculum","owner":{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}","starred_url":"[...]
