---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/2766324
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '56'
      x-ratelimit-reset:
      - '1421268816'
      last-modified:
      - Tue, 13 Jan 2015 04:55:24 GMT
      etag:
      - W/"08904ebb34db674200f19a3a1e6be5f7"
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}","starred_url":"https://api.github.com/users/courte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courte/subscriptions","organizations_url":"https://api.github.com/users/courte/orgs","repos_url":"https://api.github.com/users/courte/repos","events_url":"https://api.github.com/users/courte/events{/privacy}","received_events_url":"https://api.github.com/users/courte/received_events","type":"User","site_admin":false,"name":"Courteney","company":null,"blog":null,"location":null,"email":null,"hireable":false,"bio":null,"public_repos":16,"public_gists":2,"followers":17,"following":11,"created_at":"2012-11-10T14:07:09Z","updated_at":"2015-01-13T04:55:24Z"}'
  recorded_at: Wed, 14 Jan 2015 19:55:44 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?q=author%3Acourte+type%3Apr++++++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-31&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '10'
      x-ratelimit-remaining:
      - '9'
      x-ratelimit-reset:
      - '1421265404'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/264","labels_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/264/labels{/name}","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/264/comments","events_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/issues/264/events","html_url":"https://github.com/CodeMontageHQ/codemontage/pull/264","id":47164270,"number":264,"title":"Add
        organizations controller helper","user":{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}","starred_url":"https://api.github.com/users/courte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courte/subscriptions","organizations_url":"https://api.github.com/users/courte/orgs","repos_url":"https://api.github.com/users/courte/repos","events_url":"https://api.github.com/users/courte/events{/privacy}","received_events_url":"https://api.github.com/users/courte/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2014-10-29T15:43:24Z","updated_at":"2014-10-29T15:45:26Z","closed_at":"2014-10-29T15:45:26Z","pull_request":{"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/pulls/264","html_url":"https://github.com/CodeMontageHQ/codemontage/pull/264","diff_url":"https://github.com/CodeMontageHQ/codemontage/pull/264.diff","patch_url":"https://github.com/CodeMontageHQ/codemontage/pull/264.patch"},"body":"-
        Ensure github url is working (no 404)\r\n- Ensure github url is github\r\n-
        Parse github url for organization account\r\n- Parse github url for project
        repo name\r\n- Return error message if url is wrong.\r\n\r\n(Do not merge.
        This ain''t real. Pay no attention to the code behind the helper.) :-1: :frowning:
        \r\n","score":1.0}]}'
  recorded_at: Wed, 14 Jan 2015 19:55:44 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?q=author%3Acourte+type%3Aissue++++++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-31&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '10'
      x-ratelimit-remaining:
      - '8'
      x-ratelimit-reset:
      - '1421265404'
      x-github-media-type:
      - github.v3; format=json
      link:
      - <https://api.github.com/search/issues?q=author%3Acourte+type%3Aissue++++++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-31&per_page=100&page=0>;
        rel="last"
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Wed, 14 Jan 2015 19:55:45 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/CodeMontageHQ/codemontage/pulls/264/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '54'
      x-ratelimit-reset:
      - '1421268816'
      last-modified:
      - Tue, 13 Jan 2015 04:55:24 GMT
      etag:
      - W/"b3140404942b137333814f6b17fe327a"
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"sha":"3e9a9ed06a2185fde292cc9b635dc07759597327","commit":{"author":{"name":"Courteney
        Ervin","email":"courteney.ervin@gmail.com","date":"2014-10-29T15:37:47Z"},"committer":{"name":"Courteney
        Ervin","email":"courteney.ervin@gmail.com","date":"2014-10-29T15:37:47Z"},"message":"Add
        organizations controller helper\n\n- Ensure github url is working (no 404)\n-
        Ensure github url is github\n- Parse github url for organization account\n-
        Parse github url for project repo name\n- Return error message if url is wrong.","tree":{"sha":"2d1815abc4ea59f6a4170ec0603e09c5ed4816a9","url":"https://api.github.com/repos/CodeMontageHQ/codemontage/git/trees/2d1815abc4ea59f6a4170ec0603e09c5ed4816a9"},"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/git/commits/3e9a9ed06a2185fde292cc9b635dc07759597327","comment_count":0},"url":"https://api.github.com/repos/CodeMontageHQ/codemontage/commits/3e9a9ed06a2185fde292cc9b635dc07759597327","html_url":"https://github.com/CodeMontageHQ/codemontage/commit/3e9a9ed06a2185fde292cc9b635dc07759597327","comments_url":"https://api.github.com/repos/CodeMontageHQ/codemontage/commits/3e9a9ed06a2185fde292cc9b635dc07759597327/comments","author":{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=user%3Acourte+fork%3Aonly+++++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-31&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '10'
      x-ratelimit-remaining:
      - '6'
      x-ratelimit-reset:
      - '1421265404'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":2,"incomplete_results":false,"items":[{"id":25838024,"name":"Ospreydit","full_name":"courte/Ospreydit","owner":{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}","starred_url":"https://api.github.com/users/courte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/courte/subscriptions","organizations_url":"https://api.github.com/users/courte/orgs","repos_url":"https://api.github.com/users/courte/repos","events_url":"https://api.github.com/users/courte/events{/privacy}","received_events_url":"https://api.github.com/users/courte/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/courte/Ospreydit","description":"Reddit
        clone for the Ospreys","fork":true,"url":"https://api.github.com/repos/courte/Ospreydit","forks_url":"https://api.github.com/repos/courte/Ospreydit/forks","keys_url":"https://api.github.com/repos/courte/Ospreydit/keys{/key_id}","collaborators_url":"https://api.github.com/repos/courte/Ospreydit/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/courte/Ospreydit/teams","hooks_url":"https://api.github.com/repos/courte/Ospreydit/hooks","issue_events_url":"https://api.github.com/repos/courte/Ospreydit/issues/events{/number}","events_url":"https://api.github.com/repos/courte/Ospreydit/events","assignees_url":"https://api.github.com/repos/courte/Ospreydit/assignees{/user}","branches_url":"https://api.github.com/repos/courte/Ospreydit/branches{/branch}","tags_url":"https://api.github.com/repos/courte/Ospreydit/tags","blobs_url":"https://api.github.com/repos/courte/Ospreydit/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/courte/Ospreydit/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/courte/Ospreydit/git/refs{/sha}","trees_url":"https://api.github.com/repos/courte/Ospreydit/git/trees{/sha}","statuses_url":"https://api.github.com/repos/courte/Ospreydit/statuses/{sha}","languages_url":"https://api.github.com/repos/courte/Ospreydit/languages","stargazers_url":"https://api.github.com/repos/courte/Ospreydit/stargazers","contributors_url":"https://api.github.com/repos/courte/Ospreydit/contributors","subscribers_url":"https://api.github.com/repos/courte/Ospreydit/subscribers","subscription_url":"https://api.github.com/repos/courte/Ospreydit/subscription","commits_url":"https://api.github.com/repos/courte/Ospreydit/commits{/sha}","git_commits_url":"https://api.github.com/repos/courte/Ospreydit/git/commits{/sha}","comments_url":"https://api.github.com/repos/courte/Ospreydit/comments{/number}","issue_comment_url":"https://api.github.com/repos/courte/Ospreydit/issues/comments/{number}","contents_url":"https://api.github.com/repos/courte/Ospreydit/contents/{+path}","compare_url":"https://api.github.com/repos/courte/Ospreydit/compare/{base}...{head}","merges_url":"https://api.github.com/repos/courte/Ospreydit/merges","archive_url":"https://api.github.com/repos/courte/Ospreydit/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/courte/Ospreydit/downloads","issues_url":"https://api.github.com/repos/courte/Ospreydit/issues{/number}","pulls_url":"https://api.github.com/repos/courte/Ospreydit/pulls{/number}","milestones_url":"https://api.github.com/repos/courte/Ospreydit/milestones{/number}","notifications_url":"https://api.github.com/repos/courte/Ospreydit/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/courte/Ospreydit/labels{/name}","releases_url":"https://api.github.com/repos/courte/Ospreydit/releases{/id}","created_at":"2014-10-27T20:36:49Z","updated_at":"2014-10-27T19:41:32Z","pushed_at":"2014-10-27T19:41:32Z","git_url":"git://github.com/courte/Ospreydit.git","ssh_url":"git@github.com:courte/Ospreydit.git","clone_url":"https://github.com/courte/Ospreydit.git","svn_url":"https://github.com/courte/Ospreydit","homepage":null,"size":72,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","score":1.0},{"id":24691649,"name":"curriculum","full_name":"courte/curriculum","owner":{"login":"courte","id":2766324,"avatar_url":"https://avatars.githubusercontent.com/u/2766324?v=3","gravatar_id":"","url":"https://api.github.com/users/courte","html_url":"https://github.com/courte","followers_url":"https://api.github.com/users/courte/followers","following_url":"https://api.github.com/users/courte/following{/other_user}","gists_url":"https://api.github.com/users/courte/gists{/gist_id}[...]
