---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>&q=repo%3Aempirical-org%2Fempirical-core+type%3Aissue++++++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-02&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1422048905'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":3,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/395","labels_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/395/labels{/name}","comments_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/395/comments","events_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/395/events","html_url":"https://github.com/empirical-org/Empirical-Core/issues/395","id":44728608,"number":395,"title":"Bash
        the Cloudfront Cache","user":{"login":"petergault","id":3667179,"avatar_url":"https://avatars.githubusercontent.com/u/3667179?v=3","gravatar_id":"","url":"https://api.github.com/users/petergault","html_url":"https://github.com/petergault","followers_url":"https://api.github.com/users/petergault/followers","following_url":"https://api.github.com/users/petergault/following{/other_user}","gists_url":"https://api.github.com/users/petergault/gists{/gist_id}","starred_url":"https://api.github.com/users/petergault/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/petergault/subscriptions","organizations_url":"https://api.github.com/users/petergault/orgs","repos_url":"https://api.github.com/users/petergault/repos","events_url":"https://api.github.com/users/petergault/events{/privacy}","received_events_url":"https://api.github.com/users/petergault/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":8,"created_at":"2014-10-02T19:26:34Z","updated_at":"2014-12-05T06:35:26Z","closed_at":"2014-12-05T06:35:26Z","body":"There
        is a bug with our 2.0 bootstrap that is making it impossible to click on buttons
        on tablets. \r\n\r\nSamantha implemented a fix, but the issue is that the
        assets are being served through cloudfront, so the cache hasn''t been reset
        yet. We need to reset and recompile the cache so that we can fix this issue.
        \r\n\r\nIt''s impacting all of our tablet users, which is about 10% of our
        user base. ","score":1.0},{"url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/394","labels_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/394/labels{/name}","comments_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/394/comments","events_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/394/events","html_url":"https://github.com/empirical-org/Empirical-Core/issues/394","id":44638799,"number":394,"title":"Unable
        to resolve[...]
