---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>&q=empirical-core+in%3Aname+fork%3Aonly+++++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-31&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1421788725'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":14,"incomplete_results":false,"items":[{"id":24699200,"name":"Empirical-Core","full_name":"krebates/Empirical-Core","owner":{"login":"krebates","id":5392352,"avatar_url":"https://avatars.githubusercontent.com/u/5392352?v=3","gravatar_id":"","url":"https://api.github.com/users/krebates","html_url":"https://github.com/krebates","followers_url":"https://api.github.com/users/krebates/followers","following_url":"https://api.github.com/users/krebates/following{/other_user}","gists_url":"https://api.github.com/users/krebates/gists{/gist_id}","starred_url":"https://api.github.com/users/krebates/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/krebates/subscriptions","organizations_url":"https://api.github.com/users/krebates/orgs","repos_url":"https://api.github.com/users/krebates/repos","events_url":"https://api.github.com/users/krebates/events{/privacy}","received_events_url":"https://api.github.com/users/krebates/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/krebates/Empirical-Core","description":"Empirical-Core
        is our web app for managing students, assigning activities, and viewing results.
        Core seamlessly incorporates 3rd party applications via the Empirical API.","fork":true,"url":"https://api.github.com/repos/krebates/Empirical-Core","forks_url":"https://api.github.com/repos/krebates/Empirical-Core/forks","keys_url":"https://api.github.com/repos/krebates/Empirical-Core/keys{/key_id}","collaborators_url":"https://api.github.com/repos/krebates/Empirical-Core/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/krebates/Empirical-Core/teams","hooks_url":"https://api.github.com/repos/krebates/Empirical-Core/hooks","issue_events_url":"https://api.github.com/repos/krebates/Empirical-Core/issues/events{/number}","events_url":"https://api.github.com/repos/krebates/Empirical-Core/events","assignees_url":"https://api.github.com/repos/krebates/Empirical-Core/assignees{/user}","branches_url":"https://api.github.com/repos/krebates/Empirical-Core/branches{/branch}","tags_url":"https://api.github.com/repos/krebates/Empirical-Core/tags","blobs_url":"https://api.github.com/repos/krebates/Empirical-Core/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/krebates/Empirical-Core/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/krebates/Empirical-Core/git/refs{/sha}","trees_url":"https://api.github.com/repos/krebates/Empirical-Core/git/trees{/sha}","statuses_url":"https://api.github.com/repos/krebates/Empirical-Core/statuses/{sha}","languages_url":"https://api.github.com/repos/krebates/Empirical-Core/languages","stargazers_url":"https://api.github.com/repos/krebates/Empirical-Core/stargazers","contributors_url":"https://api.github.com/repos/krebates/Empirical-Core/contributors","subscribers_url":"https://api.github.com/repos/krebates/Empirical-Core/subscribers","subscription_url":"https://api.github.com/repos/krebates/Empirical-Core/subscription","commits_url":"https://api.github.com/repos/krebates/Empirical-Core/commits{/sha}","git_commits_url":"https://api.github.com/repos/krebates/Empirical-Core/git/commits{/sha}","comments_url":"https://api.github.com/repos/krebates/Empirical-Core/comments{/number}","issue_comment_url":"https://api.github.com/repos/krebates/Empirical-Core/issues/comments/{number}","contents_url":"https://api.github.com/repos/krebates/Empirical-Core/contents/{+path}","compare_url":"https://api.github.com/repos/krebates/Empirical-Core/compare/{base}...{head}","merges_url":"https://api.github.com/repos/krebates/Empirical-Core/merges","archive_url":"https://api.github.com/repos/krebates/Empirical-Core/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/krebates/Empirical-Core/downloads","issues_url":"https://api.github.com/repos/krebates/Empirical-Core/issues{/number}","pulls_url":"https://api.github.com/repos/krebates/Empirical-Core/pulls{/number}","milestones_url":"https://api.github.com/repos/krebates/Empirical-Core/milestones{/number}","notifications_url":"https://api.github.com/repos/krebates/Empirical-Core/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/krebates/Empirical-Core/labels{/name}","releases_url":"https://api.github.com/repos/krebates/Empirical-Core/releases{/id}","created_at":"2014-10-01T23:21:13Z","updated_at":"2014-09-13T21:33:01Z","pushed_at":"2014-09-29T21:04:45Z","git_url":"git://github.com/krebates/Empirical-Core.git","ssh_url":"git@github.com:krebates/Empirical-Core.git","clone_url":"https://github.com/krebates/Empirical-Core.git","svn_url":"https://github.com/krebates/Empirical-Core","homepage":"http://www.empirical.org/cofactor/teams/compass","size":15268,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"develop","score":10.638701},{"id":24699332,"name":"Empirical-Core","full_name":"paladique/Empirical-Core","owner":{"login":"paladique","id":1414307,"avatar_url":"https://avatars.githubusercontent.com/u/1414307?v=3","gravatar_id":"","url":"https://api.github.com/users/paladique","html_url":"https://github.com/paladique","followers_url":"https://api.github.com/users/paladique/followers","following_url":"https://api.github.com/users/paladique/following{/other_user}","gists_url":"https://api.github.com/users/paladiq[...]
