---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?q=repo%3Aempirical-org%2Fempirical-core+type%3Apr++++++++++++++++++++++++++++++++++++++created%3A2014-10-01..2014-10-02&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '10'
      x-ratelimit-remaining:
      - '8'
      x-ratelimit-reset:
      - '1421170092'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":7,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/393","labels_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/393/labels{/name}","comments_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/393/comments","events_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/393/events","html_url":"https://github.com/empirical-org/Empirical-Core/pull/393","id":44638696,"number":393,"title":"Fix
        background color bug in gmail","user":{"login":"HayleyCAnderson","id":6946910,"avatar_url":"https://avatars.githubusercontent.com/u/6946910?v=3","gravatar_id":"","url":"https://api.github.com/users/HayleyCAnderson","html_url":"https://github.com/HayleyCAnderson","followers_url":"https://api.github.com/users/HayleyCAnderson/followers","following_url":"https://api.github.com/users/HayleyCAnderson/following{/other_user}","gists_url":"https://api.github.com/users/HayleyCAnderson/gists{/gist_id}","starred_url":"https://api.github.com/users/HayleyCAnderson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/HayleyCAnderson/subscriptions","organizations_url":"https://api.github.com/users/HayleyCAnderson/orgs","repos_url":"https://api.github.com/users/HayleyCAnderson/repos","events_url":"https://api.github.com/users/HayleyCAnderson/events{/privacy}","received_events_url":"https://api.github.com/users/HayleyCAnderson/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":1,"created_at":"2014-10-02T01:46:04Z","updated_at":"2014-10-02T18:52:16Z","closed_at":"2014-10-02T18:52:12Z","pull_request":{"url":"https://api.github.com/repos/empirical-org/Empirical-Core/pulls/393","html_url":"https://github.com/empirical-org/Empirical-Core/pull/393","diff_url":"https://github.com/empirical-org/Empirical-Core/pull/393.diff","patch_url":"https://github.com/empirical-org/Empirical-Core/pull/393.patch"},"body":"*
        Adding #3b9cc9 background to background sections\r\n* Adding #fff background
        to inner background sections\r\n* Adding #eee background to footer background
        sections","score":1.0},{"url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/392","labels_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/392/labels{/name}","comments_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/392/comments","events_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/392/events","html_url":"https://github.com/empirical-org/Empirical-Core/pull/392","id":44638127,"number":392,"title":"Women
        coders dinner[...]
- request:
    method: get
    uri: https://api.github.com/repos/empirical-org/empirical-core/pulls/393/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '59'
      x-ratelimit-reset:
      - '1421173633'
      last-modified:
      - Mon, 12 Jan 2015 02:23:51 GMT
      etag:
      - W/"fa082f2632bf025c456fe705de7c35d8"
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"sha":"21c32a5dc9c6e38b037c3b9f67cf9e953709ee1e","commit":{"author":{"name":"Hayley
        Anderson","email":"hayleyanderson@zoho.com","date":"2014-10-02T01:22:55Z"},"committer":{"name":"Hayley
        Anderson","email":"hayleyanderson@zoho.com","date":"2014-10-02T01:22:55Z"},"message":"Fix
        background color bug in gmail\n\n* Adding #3b9cc9 background to background
        sections\r\n* Adding #fff background to inner background sections\r\n* Adding
        #eee background to footer background sections","tree":{"sha":"1fab9bdbb196ccf0d367a6e4afecc199edac7c33","url":"https://api.github.com/repos/empirical-org/Empirical-Core/git/trees/1fab9bdbb196ccf0d367a6e4afecc199edac7c33"},"url":"https://api.github.com/repos/empirical-org/Empirical-Core/git/commits/21c32a5dc9c6e38b037c3b9f67cf9e953709ee1e","comment_count":0},"url":"https://api.github.com/repos/empirical-org/Empirical-Core/commits/21c32a5dc9c6e38b037c3b9f67cf9e953709ee1e","html_url":"https://github.com/empirical-org/Empirical-Core/commit/21c32a5dc9c6e38b037c3b9f67cf9e953709ee1e","comments_url":"https://api.github.com/repos/empirical-org/Empirical-Core/commits/21c32a5dc9c6e38b037c3b9f67cf9e953709ee1e/comments","author":{"login":"HayleyCAnderson","id":6946910,"avatar_url":"https://avatars.githubusercontent.com/u/6946910?v=3","gravatar_id":"","url":"[...]
[...]
