---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?client_id=<GITHUB_KEY>&client_secret=<GITHUB_SECRET>&q=repo%3Aempirical-org%2Fempirical-core+type%3Aissue++++++++++++++++++++++++++++++++++++++created%3A2015-01-06..2015-01-07&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
      x-ratelimit-reset:
      - '1421788725'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":2,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/479","labels_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/479/labels{/name}","comments_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/479/comments","events_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/479/events","html_url":"https://github.com/empirical-org/Empirical-Core/issues/479","id":53665636,"number":479,"title":"Add
        first & second grade to grade selector","user":{"login":"RyanNovas","id":6655439,"avatar_url":"https://avatars.githubusercontent.com/u/6655439?v=3","gravatar_id":"","url":"https://api.github.com/users/RyanNovas","html_url":"https://github.com/RyanNovas","followers_url":"https://api.github.com/users/RyanNovas/followers","following_url":"https://api.github.com/users/RyanNovas/following{/other_user}","gists_url":"https://api.github.com/users/RyanNovas/gists{/gist_id}","starred_url":"https://api.github.com/users/RyanNovas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/RyanNovas/subscriptions","organizations_url":"https://api.github.com/users/RyanNovas/orgs","repos_url":"https://api.github.com/users/RyanNovas/repos","events_url":"https://api.github.com/users/RyanNovas/events{/privacy}","received_events_url":"https://api.github.com/users/RyanNovas/received_events","type":"User","site_admin":false},"labels":[{"url":"https://api.github.com/repos/empirical-org/Empirical-Core/labels/1+-+Ready","name":"1
        - Ready","color":"DCDCDC"},{"url":"https://api.github.com/repos/empirical-org/Empirical-Core/labels/Level%3A+Starter","name":"Level:
        Starter","color":"207de5"}],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2015-01-07T18:38:59Z","updated_at":"2015-01-07T18:38:59Z","closed_at":null,"body":"When
        a teacher adds a classroom, they currently get the screen shown below, with
        grade 3 the lowest on the drop down. Grades 1 and 2 should be added as options.\r\n![screenshot
        2015-01-07 at 1 38 09 pm](https://cloud.githubusercontent.com/assets/6655439/5651091/792db49c-9672-11e4-86e1-a128c55de825.png)\r\n","score":1.0},{"url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/478","labels_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/478/labels{/name}","comments_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/478/comments","events_url":"https://api.github.com/repos/empirical-org/Empirical-Core/issues/478/events","html_url":"https://github.com/empirical-org/Empirical-Core/issues/478","id":53561642,"number":478,"title":"Fix
        Travis CI","u[...]
