<body>
  
  <h1>Join CodeMontage</h1>

  <%= simple_form_for @user do |f| %>  
    <%= f.input :email, :placeholder => 'captain.planet@gmail.com' %>
    <%= f.input :password %>
    <%= f.button :submit %>
  <% end %>
</body>