
<body>
	<h2>About</h2>

	<p>Developers for Good began in January 2010 in New York City when founder Vanessa Hurst grew frustrated that her software release schedule conflicted with soup kitchen volunteer opportunities and went searching for a better way to change the world.</p>
  <p>Thanks to a pilot program with <a href="http://catchafire.org" title="Catchafire" target="_blank">Catchafire</a>, a skills-based volunteering startup, she was able to volunteer her database skills. Vanessa was moved by the amount of value created - the non-profit (<a href="http://theopedproject.org" title="The OpEd Project" target="_blank">The OpEd Project</a>) saved thousands of dollars, she got to practice what she loves, and the staff is now more effective thanks to better technology.</p>
  <p>Technology is one of the top needs for non-profits and social mission organizations, but NGO social networks tend to have no overlap with developers and thus underfunded, accidental techies end up scraping together technical solutions.</p>
  <p>Developers for Good brings motivated technologists of all skill levels together with social entrepreneurs so together they can improve the world.</p>
  <p>This winter, Developers for Good will launch a web-based platform to accelerate our impact - please <a href="/joinus" title="Join Us">join us</a>!</p>

</body>					

					
					
					
					
					

					
					
					
					
					
					

		
		
		
		
		
					

					
					
					
					

					
					
					
					
					

					
					
					
					
					
					

					
					
					
					
					


            
			
						
			
			
			

			
			
			


			
			
			
			
			
		</div>				
	</div>	
</body>
</html>