<body>
	<h4>About</h4>
  
  <p>CodeMontage was born out of the belief that computing is the most efficient way to improve the human experience, and that software developers become the best through lots of practice building real applications. We know from teaching beginners that there's a frustrating gap between learning to code and being able to build robust applications, and we know from hiring and mentoring developers that experience can't be replaced with canned tutorials.</p>
  
  <p>So, if it takes a lot of work to become a great developer, how can we make sure that work matters? That it moves society forward, as well as developers?</p>
  
  <p>That's what CodeMontage is about: <strong>improving yourself while improving the world.</strong></p>

</body>