<body>
  <% content_for :title do %>Coder Day of Service<% end %>
  <div>
    <div id="mlkd_quote">
      <blockquote>
        <p>Life's most persistent and urgent question is: What are you doing for others?</p>
        <cite>Dr. Martin Luther King Jr.</cite>
      </blockquote>
    </div>
  </div>
  <div id="mlkd_welcome" class="row">
    <div class="six columns centered">
      <p>Join us January 20, 2014 for a</br>
        <span class="event_name">{Coder Day of Service}</span></br>
        powered by CodeMontage</p>
    </div>
  </div>
  <div id="mlkd_info" class="row">
    <div class="ten columns centered">
      <p><span class="info">{Who}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Over 250 coders, non-profits, and thought leaders coming together for a day of <em>Tech Service</em>.</span></p>
      <p><span class="info">{When}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Martin Luther King Jr. Weekend 2014 in conjunction with the National Day of Service.</span></p>
      <p><span class="info">{Why}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Skill-based volunteerism is real and needed. Over 70% of non-profits report needing technology help. CodeMontage believes there is a special call to action for developers: <em>Code for Good</em>.</span></p>
      <p><span class="info">{How}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>The CodeMontage platform is an open source platform housing social good, humanitarian and non-profit projects enabling coders to give back with a simple fork of a repository.</span></p>
      <p><span class="info">{You}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>We are actively seeking <em>Corporate Partners</em> to make this Coder Day of Service possible.</span></p>
    </div>
  </div>
  <div id="mlkd_tags" class="row">
    <div class="five columns offset-by-one">
      <h6>Technologies Represented</h6>
      <p>HTML, CSS, CoffeeScript, JavaScript, Jekyll, Ruby, Rails, Sinatra, Python, Django, C#, Java, Node.js, PHP, CakePHP, CodeIgniter, Drupal, MySQL, PostgreSQL, Spring, Hibernate, Android, iOS, Chef</p>
    </div>
    <div class="five columns">
      <h6>Causes Represented</h6>
      <p>Civic Engagement, Education, Health, Human Rights, Human Trafficking, International Development, Microfinance, Open Data, Poverty Alleviation, Privacy, Security, Women and Girls&rsquo; Empowerment</p>
    </div>
    <div class="one column"></div>
  </div>
  <% content_for(:press) do %>Press<% end %>
</body>
