<body>
  <div class="row">
    <div class="three columns radius panel">
      <%= render 'home/dashboard/profile' %>
    </div>
    <div class="six columns">
      <%= render 'home/dashboard/projects' %>
    </div>
    <div class="three columns radius panel">
      <%= render 'home/coder_day_resources' %>
    </div>
  </div>
</body>
