<body>
  <div class="codegood twelve columns">
    <h1>#CodeGoodSunday</h1>
  
    <div class="deck row">
      <div class="eight columns">
        <h2>Use your powers for good.</h2>
      </div>
      <div class="four columns">
        <img src="/assets/calendar-cartoon.png"></img>
      </div>
    </div>

    <section>
    
      <h3>Join us for the #CodeGoodSunday TwitterChat and tell us about the open source projects that you're excited about. Here’s how:</h3>


      <ol>
        <li>Check out open source <a href="/projects">projects</a> on <a href="/">Code Montage</a>.</li>
        <li>Favorite the ones you like, check out their tasks list, and start coding.</li>
        <li>Join us on Twitter <strong>every Sunday @ 4PM EST</strong> and tweet what you're working on. Use the hashtag #CodeGoodSunday and tell us what projects you're working on!</li>
      </ol>
    </section>
    
    <section>
      <h3><strong>FAQ</strong></h3>
      <h3>How does a TwitterChat work?</h3>

      <ol>
        <li><strong>We (the moderators) will introduce ourselves and then post a question</strong>, like this one: "Q1: How did you contribute to open source this week? #CodeGoodSunday"</li>

        <li>You <strong>respond to the question</strong>, like this: "A1: I added a loading button to the @Quill project. #CodeGoodSunday"</li>

        <li><strong>Respond to people directly</strong>, like this: "@codergal Neat! How long did that take you? #CodeGoodSunday"</li>

        <li>After some discussion, roughly 5-10 minutes worth, <strong>we'll post a new question</strong> for the community to respond to.</li>
      </ol>

      <h3>How do I join the chat?</h3>

      <ol>
        <li>Follow the hashtag #CodeGoodSunday<strong> every Sunday @ 4PM EST</strong> and start tweeting with us!</li>

        <li>Respond to one of the questions, labeled <strong>"Q1", "Q2", "Q3"</strong>, etc, with a labeled answer <strong>"A1", "A2", "A3"</strong> etc.</li>

        <li>Respond to other people's tweets. <strong>Share a link. Tell a story. </strong>Talk about your open source coding experience.</li>
      </ol>
    </section>

    <section>

      <h3>For questions, tweet <a href="https://twitter.com/saronyitbarek" class="twitter">@saronyitbarek</a> or <a href="https://twitter.com/codemontage" class="twitter"> @CodeMontage </a> with the hashtag #CodeGoodSunday.</h3> 

      <h3 class="signature">See you Sunday!</h3>

    </section>

  </div>
</body>
