<body>
  <div class="codegood twelve columns">
    <h1>#CodeGoodSunday</h1>
  
    <div class="deck row">
      <div class="eight columns">
        <h2>Use your powers for good.</h2>
      </div>
      <div class="four columns">
        <img src="/assets/calendar-cartoon.png"></img>
      </div>
    </div>

    <section>
    
      <h3>Join us in the coding-for-good movement and contribute to one of the many incredible open source projects. Here’s how:</h3>


      <ol>
        <li>Check out open source <a href="/projects">projects</a> on <a href="/">Code Montage</a>.</li>
        <li>Favorite the ones you like and take a peek at their tasks list.</li>
        <li>Join us on Twitter <strong class="keyword">every Sunday @ 1PM EST</strong> and tweet what you're working on. </br>Use the hashtag #CodeGoodSunday and tell us what projects get you excited and how we can help!</li>
      </ol>
     

      <h3>For questions, tweet <a href="https://twitter.com/saronyitbarek" class="twitter">@saronyitbarek</a> or <a href="https://twitter.com/codemontage" class="twitter">@CodeMontage</a> with the hashtag #CodeGoodSunday.</h3> 
    
      <h3 class="signature">See you Sunday!</h3>

    </section>

    <section>
      <div class="six columns">
        <h1> Hi there </h1>
      </div>
       <div class="six columns">
        <h1> Yo Boy </h1>
      </div>
    </section>

  </div>
</body>
