<body>
  <div class="row">
    <div class="three columns">
      <%= render 'home/dashboard/profile' %>     
    </div>
    <div class="nine columns">
      <%= render 'home/dashboard/projects' %>
      <%= render 'home/dashboard/montage' %>
    </div>

  </div>
</body>
