<body>
  <div class="row">
    <div class="large-3 columns">
      <%= render 'home/dashboard/profile' %>     
    </div>
    <div class="large-6 columns">
      <%= render 'home/dashboard/projects' %>
      <%= render 'home/dashboard/montage' %>
    </div>
    <div class="large-3 columns">
      <%= render 'home/dashboard/events' %>     
    </div>
  </div>
</body>
