<body>
  <h4>Developers for Good</h4>
  
  <p><a href="http://developersforgood.org" title="Developers for Good" target="_blank">Developers for Good</a> began in January 2010 in New York City when founder <a href="http://vanessahurst.com" target="_blank">Vanessa Hurst</a> grew frustrated that her software release schedule conflicted with soup kitchen volunteer opportunities and went searching for a better way to change the world.</p>
  <p>Thanks to a pilot program with <a href="http://catchafire.org" title="Catchafire" target="_blank">Catchafire</a>, a skills-based volunteering startup, she was able to volunteer her database skills. Vanessa was moved by the amount of value created - the nonprofit organization (<a href="http://theopedproject.org" title="The OpEd Project" target="_blank">The OpEd Project</a>) saved thousands of dollars, she got to practice what she loves, and the staff is now more effective thanks to better technology.</p>
  <p>Technology is one of the top needs for non-profits and social mission organizations, but NGO social networks tend to have no overlap with developers and thus underfunded, accidental techies end up scraping together technical solutions.</p>
  <p>Developers for Good brings motivated technologists of all skill levels together with social entrepreneurs so together they can improve the world.</p>
  <p>Connect with the Developers for Good community through <a href="http://twitter.com/DevsForGood" target="_blank">Twitter</a>, <a href="http://facebook.com/pages/DevelopersForGood" target="_blank">Facebook</a>, one-on-one <a href="http://developersforgood.ohours.org" target="_blank">Ohours</a> conversations, or our monthly in-person <a href="http://meetup.developersforgood.org" target="_blank">Meetup</a>.</p>
</body>