<body>
  <h4>How It Works</h4>
  <blockquote>
  <p>"I've tried a lot of languages, tinkering with the projects. They all seem so lame though...<strong><span> who wants to build a blackjack simulator? I don't play blackjack."</span></strong></p>
  </blockquote>
  <br />
  <h5>The CodeMontage Program</h5>
  <p>Your CodeMontage phase begins with your first project challenge, which you'll receive via <a href="https://github.com/blog/831-issues-2-0-the-next-generation" target="_blank">Github issue</a> and email on the first Monday of your session.</p>
  <p>For each challenge, you'll have until that Friday at 5pm EST to submit your solution. Following a challenge, you'll receive code reviews and feedback, which you'll use to refactor and improve your code (if needed), and resubmit each Friday. At any given time during the program, you'll probably have one new challenge to solve and one older challenge to improve based on feedback.</p>
  <br />
  <h5>Program Timeline</h5>
  <p><em>First Monday</em> - You receive your first development challenge by 5pm EST.</p>
  <p><em>First Friday</em> - Your first challenge is due and you receive your second challenge.
    <br />-- this week, you'll receive feedback on your first challenge --<br /></p>
  <p><em>Second Friday</em> - Your second challenge is due at 5pm EST and you receive your third challenge.
    <br />-- this week, you'll receive feedback on your second challenge --</p>
  <p><em>Third Friday</em> - Your third challenge is due at 5pm EST and you receive your final challenge.
    <br />-- this week, you'll receive feedback on your third challenge --<br /></p>
  <p><em>Fourth Friday</em> - Your final challenge is due at 5pm EST. Session concludes and you receive a Certificate of Completion, a beefed up Github profile, and a huge High Five for making the world a better place.</p>
  <p><a href="http://bit.ly/CodeMontageApp" title="CodeMontage Application">Apply to start your CodeMontage today</a>!</p>
  <p><br />* Schedule is subject to change based on your needs / pace and project constraints.</p>
</body>