<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="#">Developers for Good</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="left">
      <li><a href="#">Link</a></li>
    </ul>

    <ul class="right">
      <li><a href="#">Link</a></li>
    </ul>
  </section>
</nav>