<body>
  <h4>Jobs</h4>
  
  <p><strong>CodeMontage exists to make building humanitarian software the standard in software professional development.</strong> We believe coders make the best superheroes, and that empowering coders to improve themselves while improving the world is as cool as it gets. If you agree, drop us a line at <a href="mailto:jobs@codemontage.com?Subject=I+Want+To+Help+Make+More+Superheroes" target="_blank">jobs@codemontage.com</a> and tell us about the moment you realized coders could be superheroes.</p>
  <p>We're always on the lookout for <a href="http://skillcrush.com/2012/12/07/how-to-get-hired-as-a-professional-developer" target="_blank">passionate people who are smart, get things done, solve hard problems, and explain their solutions.</a></p>
    
  <p>Some of the specific <strong>problems we're working to solve</strong>:
    <ul>
      <li>Coders have a reputation for creating financial value, but not social value.</li>
      <li>Coders want to make an impact, especially using their skills, and struggle to find out how to do so.</li>
      <li>Social mission organizations badly need technology talent.</li>
      <li>Women and many racial minorities are drastically underrepresented in computing.</li>
      <li>Social innovators have significant unrealized opportunities to increase their impact through software.</li>.
    </ul>
  </p>
  
  <p>Specifically, there are some <strong>roles and skill sets we'd love more of</strong>:
    <ul>
      <li>Project Management (Agile, mostly)</li>
      <li>Software Development (Agile, mostly)</li>
      <li>Illustration (Superheroes, mostly)</li>
      <li>Game Design</li>
      <li>Visual Design</li>
      <li>Software Development Mentorship</li>
    <ul>
  </p>
  
  <p>Sound like a worthy way to spend your time? Reach out to us at <a href="mailto:jobs@codemontage.com?Subject=I+Want+To+Help+Make+More+Superheroes" target="_blank">jobs@codemontage.com</a></p>
  
</body>