<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://codemontage.us6.list-manage.com/subscribe/post?u=64f7f8c2765e85f556e5e2bd2&amp;id=61b190198b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-group[1881]">I'm a ... </label>
	<select name="group[1881]" class="REQ_CSS" id="mce-group[1881]">
	<option value=""></option>
	<option value="16">Software Developer looking to improve</option>
<option value="32">Newbie Developer looking to get experience</option>
<option value="64">Project/Organization Leader looking for software help</option>
<option value="128">Friend/Partner psyched about CodeMontage</option>

	</select>
</div>
<div class="mc-field-group input-group">
    <strong>I'd like to hear about ... </strong>
    <ul><li><input type="checkbox" value="256" name="group[1885][256]" id="mce-group[1885]-1885-0"><label for="mce-group[1885]-1885-0">upcoming CodeMontage sessions</label></li>
<li><input type="checkbox" value="512" name="group[1885][512]" id="mce-group[1885]-1885-1"><label for="mce-group[1885]-1885-1">big announcements and news from the CodeMontage team</label></li>
<li><input type="checkbox" value="2048" name="group[1885][2048]" id="mce-group[1885]-1885-2"><label for="mce-group[1885]-1885-2">news and opportunities for Developers for Good</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>I'm really hoping to ... </strong>
    <ul><li><input type="checkbox" value="8" name="group[1877][8]" id="mce-group[1877]-1877-0"><label for="mce-group[1877]-1877-0">improve my software development skills</label></li>
<li><input type="checkbox" value="1" name="group[1877][1]" id="mce-group[1877]-1877-1"><label for="mce-group[1877]-1877-1">get a different software development job</label></li>
<li><input type="checkbox" value="2" name="group[1877][2]" id="mce-group[1877]-1877-2"><label for="mce-group[1877]-1877-2">get my first software development job</label></li>
<li><input type="checkbox" value="4" name="group[1877][4]" id="mce-group[1877]-1877-3"><label for="mce-group[1877]-1877-3">improve my coding skills enough to build my own product</label></li>
<li><input type="checkbox" value="1024" name="group[1877][1024]" id="mce-group[1877]-1877-4"><label for="mce-group[1877]-1877-4">do something awesome for the world using software</label></li>
<li><input type="checkbox" value="4096" name="group[1877][4096]" id="mce-group[1877]-1877-5"><label for="mce-group[1877]-1877-5">get development help for my social mission project</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->