<body>
  <h4>Services</h4>
  
  <p><strong>Development Teams</strong>: CodeMontage empowers your team members to become better software developers. <a href="mailto:hello@codemontage.com?Subject=I+Want+To+Train+Superhero+Developers" target="_blank">Contact us</a> to discuss how CodeMontage programs (internships, apprenticeships, online training) can help you create superheroes out of high-potential employees.</p>
  </br>
  <p><strong>Social Mission Organizations</strong>: CodeMontage is committed to helping you use open technology innovation to achieve your goals. We offer the following services, customized to support your organization:</p>
  <ul>
  <li><strong>Open Sourcing</strong> - we'll make your privately developed application available on the web where developers are waiting to contribute! We follow best practices and secure your private data, so only the safe-for-public-eyes stuff gets shared.</li>
  </ul>
  <ul>
  <li><strong>Technical Advising</strong> - we stand in as the CTO you badly need but that doesn't quite fit into your full-time funding. Advising ranges from help evaluating technologies against your mission and goals, strategize technological improvements, and manage your open source projects and community.</li>
  </ul>
  <ul>
  <li><strong>Office Hours</strong> - we understand the value of talking to a real person, especially while you're figuring out new technology. As a member of the CodeMontage community, you have access to regular open office hours hosted by our team and community experts.</li>
  </ul>
  <p><a href="mailto:hello@codemontage.com?Subject=Interested+in+Open+Innovation">Contact us</a> to accelerate your impact with open innovation today.</p>

</body>