<body>
  <h4>Services</h4>
  
  <h5>For NonProfits and Social Mission Organizations</h5>
  
  <p>CodeMontage is committed to helping you use open technology innovation to achieve your goals. We offer the following services, customized to support your organization:</p>
  <ul>
  <li><strong>Open Sourcing</strong> - we'll make your privately developed application available on the web where developers are waiting to contribute! We follow best practices and secure your private data, so only the safe-for-public-eyes stuff gets shared.</li>
  </ul>
  <ul>
  <li><strong>Technical Advising</strong> - we stand in as the CTO you badly need but who doesn't quite fit into your full-time budget. Advising ranges from evaluating technologies against your mission and goals, strategizing technological improvements, and managing your open source projects and community.</li>
  </ul>
  <ul>
  <li><strong>Office Hours</strong> - we understand the value of talking to a real person, especially while you're figuring out new technology. As a member of the CodeMontage community, you have access to regular open office hours hosted by our team and community experts.</li>
  </ul>
  <p><%= mail_to "hello@codemontage.com", "Contact us", :subject => "Interested in Open Social Innovation" %> to accelerate your impact with open innovation today.</p>

</body>