<body>
  <div class="row">
    <div class="one column"></div>
    <div class="ten columns">
      <h5>Improve your coding skills with real projects that matter.</h5>

      <p>We believe <%= link_to "coders make the best superheroes", "http://www.slideshare.net/CodeMontage/coders-as-superheroes-15284076", :target => "_blank" %>, and we know becoming a superhero isn’t easy. We also know there’s a big difference between learning to code and feeling ready to save the world. We’re here to help you get to the next level, whether it’s a new job, comfort in a new language, or skills to build your own world-saving project.</p>

      <p>Become part of the CodeMontage community and hear about new features any time (for free) simply by <%= link_to "signing up", new_user_registration_path %>. When you're ready to accelerate your learning and world-saving, choose a membership:</p>

      <div id="coder_memberships" class="row">
        <div class="one columns"></div>
        <div id="training_membership" class="panel radius shadow five columns">
          <div>
            <h2>Need a Trusty Sidekick?</h2>
            <p>We'll help you find a great project, You decide how you want to contribute, We'll help you improve your code.</p>
            <p><%= mail_to "hello@codemontage.com", "Train with Us", :class => "medium radius button", :subject => "Ready to start Training" %></p>
            <p><strong>$45/month Includes:</strong></p>
            <ul>
              <li>Custom Project Recommendations</li>
              <li>Code Reviews and Feedback</li>
              <li>Personalized Progress Tracking</li>
            </ul>
          </div>
        </div>
        <div class="one columns"></div>
      </div>

      <div>
        <h5>Empower your high potential team to become better coders.</h5>
        <p>We'll help your team get to the next level through real projects that align with your company's values and technology goals. We offer team training programs, group sprint memberships, and a stellar apprenticeship program to help you build a pipeline of superhero coders. <%= mail_to "hello@codemontage.com", "Contact us to learn more", :subject => "I want to train superhero coders" %>.</p>

      </div>
      
    </div>
    <div class="one column"></div>
  </div>
</body>
