common: &common
  adapter: postgresql
  encoding: utf8
  host: 127.0.0.1
  user: root
  password: 

development:
  <<: *common
  database: codemontage_development

test:
  <<: *common
  database: codemontage_test

production:
  <<: *common
  database: codemontage_production
