<div class="profile_montage">
  <h4>Your CodeMontage</h4>

  <p>In the future, here's where your personalized CodeMontage will be! We believe everyone, not just Rocky, deserves a sweet animation that makes incredible progress look easy.</p>

  <p>In the meantime, if there are features or data or anything else you'd like in order to change the world, please <%= mail_to "hello@codemontage.com", "let us know", :subject => "Suggestion for CodeMontage" %>.</p>
</div>
