<div class="profile_montage">
  <h6>Your CodeMontage</h6>

  <p>In the future, here's where your personalized {code}montage will be! We believe everyone, <%= link_to "not just Rocky", "https://www.youtube.com/watch?v=DP3MFBzMH2o", :target => "_blank" %>, deserves a sweet animation that makes incredible progress look easy.</p>

  <p>In the meantime, if there are features or data or anything else you'd like in order to change the world, please <%= mail_to "hello@codemontage.com", "let us know", :subject => "Suggestion for CodeMontage" %>.</p>
</div>
