// Place all the styles related to the CodeGoodSunday controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.codegood h1 {
}

body.codegood {
  background: #00b0bb;
  margin: 120px 150px 0 150px;
}

.codegood h1 {
  color: white;
  font-weight: 800;
  /*background: yellow;*/
  /*margin: 0;*/
  font-size: 6.5em; 
  margin-bottom: -20px;
}

.codegood h2 {
  /*color: #036b72;*/
  color: yellow;
  display: inline;
  /*background:pink;*/
  font-size: 2em;
  font-weight: 700;
  padding-left: 70px;
}

.codegood section {
  padding-left: 80px;
  padding-top: 30px;
  width: 90%;
}

.codegood h3, .codegood li {
  color: white;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}

.codegood ol {
  padding-left: 100px;
}

.codegood .signature {
  margin-top: 50px;
}

.codegood a {
  color: #ffffcc;
  font-weight: 700;
}

.codegood .keyword {
  text-decoration: underline;
}

.codegood a:hover {
  color: #036b72;
  font-weight: 700;
}
