@import 'colors';

body[data-controller="home"][data-action="code_good_day"] {

  background: white;

  .codegood {

    .working {
      background: yellow;
    }

    h1 {
      color: $cmTeal;
      font-size: 5em;
      font-weight: 900;
      margin-bottom: -20px;
    }

    h2 {
      color: $cmPurple;
      display: inline;
      font-size: 2em;
      font-weight: 900;
      padding-left: 70px;
    }

    .deck {
      display: block;
      height: 50px;
      position: relative;
      width: 100%;
      h2 {
        position: absolute;
        top: 10;
      }
    }

    img {
      position: absolute;
      right: 50px;
    }

    section {
      padding-left: 70px;
      padding-top: 30px;
      width: 90%;
      h3:first-child {
        width: 70%;
      }
    }

    h3, li {
      color: #000;
      font-family: "Source Sans Pro", Helvetica, sans-serif;
      font-size: 1.3em;
      font-weight: 400;
    }

    ol {
      counter-reset: my-awesome-counter;
      list-style: none;
      padding: 0 0 0 120px;
    }

    li {
      counter-increment: my-awesome-counter;
      margin: .5em;
      padding: 0;
    }

    li:before {
      border-radius: 1in;
      border: 1.5px solid $cmTeal;
      color: #000;
      content: counter(my-awesome-counter);
      display: inline-block;
      font-size: 1.5em;
      font-weight: 900;
      line-height: 1.5em;
      margin: 0 25px 0 -80px;
      text-align: center;
      vertical-align: middle;
      width: 1.5em;
    }

    a {
      color: $cmPurple;
      font-weight: 700;
    }

    .keyword {
      text-decoration: underline;
    }

    a:hover {
      color: $cmDarkTeal;
      font-weight: 700;
    }

    .signature {
      font-size: 1.5em;
      font-weight: 900;
      margin-top: 50px;
      text-align: center;
    }

  }

}
