/* From CSS Sticky Footer Code http://www.cssstickyfooter.com/using-sticky-footer-code.html */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#footer {
  padding: 10px;
  position: relative;
  background: #1E1E1E;
  clear:both;
  color: #FFFFFF;
  font-family: "Source Sans Pro",sans-serif;
  font-weight: normal;
} 

/* Opera Fix */
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
