/* From CSS Sticky Footer Code http://www.cssstickyfooter.com/using-sticky-footer-code.html */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#footer {
  padding: 10px;
  position: relative;
  background: #1E1E1E;
  clear:both;
  color: #BBBBBB;
}

#footer div {
  font-size: 14px;
}

/* Opera Fix */
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

.wepay-custom-button {
  background-color: #1E1E1E !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;

  color: #BBBBBB !important;
  float: right; 
  font-family: "Source Sans Pro", sans-serif !important;
  padding: 0px !important;
  text-shadow: none !important;

}

.wepay-custom-button:hover {
  color: #1aacbc !important;
}
