@import "colors";

#header {
  background: $cmOffBlack;
  padding: 6px;
} 

#header a {
  color: $cmLightGrey;
  font-size: 14px;
}

#header ul.inline-list {
  a:hover {color: $cmTeal;}
  li.social_media {margin-left: 10px;}
}

#header.logged-in {
  height: 30px;
  ul.inline-list { margin-bottom: -10px; }
}

#header.logged-out {
  height: 80px; 
  ul.inline-list { margin-bottom: 10px; }
}
ul.inline-list .fi-social-github {
  vertical-align: top;
}