@import "colors";

#header {
  background: $cmOffBlack;
  padding: 6px;
  height: 80px;
} 

#header a {
  color: $cmLightGrey;
  font-size: 14px;
}

#header ul.inline-list {
  margin-bottom: 10px;
  
  a:hover {color: $cmTeal;}
  li.social_media {margin-left: 10px;}
}
