@import "colors";

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.

// Index

#coder_welcome .button {
  background: $cmPurple;
  border: $cmPurple;

  .social.foundicon-github {
    font-size: 1.2em;
  }
}

#coder_welcome .button:hover { background: lighten($cmPurple, 10%); }

#mission {padding-bottom: 30px;}

#secondary_welcomes {padding-bottom: 30px;}
