@import "compass";
@import "colors";
@import url(//fonts.googleapis.com/css?family=Courgette);

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.

// Code of Conduct
.listed {
  list-style-type: square;
  margin-left: 30px;
}

.licensing {
  font-size: 14px;
  text-align: center;
}

// Coder Day of Service

.mlkday {

  h2 { 
    font-weight: bold;
    text-align: center;
  }

  #mlkd_sponsors {
    .sponsors a img {
      max-height: 40px;
      width: auto;
    }
  }
}


// Our Story

.horizontal_bios {
  img { 
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  img:hover {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
  }
  
  p { margin-bottom: 10px; }
}

// Training

.wepay-custom-coder-button {
  font-family: "Source Sans Pro", sans-serif !important;
  padding: 0px !important;
}

#coder_memberships {
  .panel { padding: 20px; }
  text-align: center;

  ul { 
    list-style-position: inside;
    list-style-type: disc;
    text-align: left;
  }
}
