// Index

.organizations {

  img:hover {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
  }

}

.simple_form .error {
  padding-left: 10px;
  color: #D00;
}

.field_with_errors, .field_with_errors input, .simple_form .error {
	display: inline;
}
