@import "colors";

h5 span.favorite { 
  font-size: 18px; 
  margin: 0px 0px -10px 0px;
  padding-left: 15px;

  form {
    display: inline-block;
    div { margin: 0px 0px 10px 0px; }
  }

  .button { 
    font-weight: normal; 
    padding: 4px; 
  }
}
