@import 'colors';

h5 span.favorite {
  font-size: 18px;
  padding-left: 15px;

  form {
    display: inline-block;
    margin: 0;
    div { margin: 0 0 10px; }
  }

  .button {
    font-weight: normal;
    padding: 4px;
    margin: 0;
  }
}

.project {
  border-bottom: 1px solid $cmLightGrey;
  &.row {
    margin-bottom: 15px;
  }
}

.project_links {
  margin-bottom: 6%;
}
