<p>Hello Superhero Coder!</p>

<p>We received a request to reset the password associated with this email address.</p>

<p>If you made this request, please follow the link below:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you did not make this request, you can safely ignore this email and get back to saving the world, one line of code at a time.
Your password won't change until you access the link above and create a new one.</p>

<p>Thank you for helping build Code Montage!</p>

<br>
<p>Sincerely,</p>
<p>The Code for Humanity Team</p>
