<div id="footer">
  <div id="social-media" class="row">
    <div class="four columns">
      <ul>
        <li><a href="http://blog.codemontage.com?utm_source=CodeMontage+Footer">Blog</a></li>
        <li><a href="http://twitter.com/CodeMontage">Twitter</a></li>
      </ul>
    </div>
    <div class="four columns">
      <ul>
        <li><a href="http://www.facebook.com/pages/CodeMontage/460615520647664">Facebook</a></li>
        <li><a href="/developers-for-good">Developers for Good</a></li>
      </ul>
    </div>
    <div class="four columns">
      <ul>
        <li><a href="http://www.slideshare.com/CodeMontage">Slideshare</a></li>
        <li><a href="http://www.youtube.com/CodeMontage">YouTube</a></li>
      </ul>
    </div>  
  </div>
  <div class="row">
    <div id="copyright" class="five columns">
      <%= "© #{Time.now.year} Code for Humanity, LLC" %>
    </div>
  </div>
</div>
