<div id="header">
  <div class="row">
    <div class="twelve columns">
      <div class="right">
        <%= link_to "Dashboard", dashboard_path %>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </div>
    </div>
  </div>
</div>
